.main-app{
    text-align: center;
    background-color: #bbb;
    padding: 0px 10px 10px 10px;
    width: 50%;
    margin: auto;
    border-radius: 10px;
}

@media (min-width:320px){
    .main-app{
        width: 96%;
    }
    .top-level{
        padding-top: 5px;
    }
    .user-entry{
        text-align: left;
        padding-top: 10px;
    }
    div hr{
        margin-top: 1.0em;
        margin-bottom: 1.0em;
    }
}
